#Contact-main{
    margin: auto;
   
         width : 90%;
         display : flex ; 
         padding : 1rem ;
         border : 1px solid white;
         margin-bottom: 1rem;
         gap : 5rem;
}


#main-addContact{
    display: flex;
    width : 40%;
    margin: auto;
    gap : 2rem;
    text-align: center;
    
}

.inputbox {
    height: 25px;
}

#insidebox{
    border: 1px solid white;
    width: 35%;
    margin: auto;
    background-color: whitesmoke;
    color: black;
}

.delete-icon {
    height: 18px;
    cursor: pointer;
}

.mobileBox{
    display: flex;
    cursor: pointer;
    gap : 2rem;
}

.ActiveDiv {
    background-color: aquamarine;
}


.ActiveDiv > div{
    font-weight: bold;
    margin-bottom: 10px;
    
}