#Contact-main{
    margin: auto;
   
         width : 35%;
         display : flex ; 
         padding : 1rem ;
         border : 1px solid black;
         margin-bottom: 1rem;
         gap : 5rem;
}


#main-addContact{
    display: flex;
    width : 30%;
    margin: auto;
    gap : 2rem;
    text-align: center;
    
}